.bc-event-recurring__inner {
  position: relative;
}

.bc-events__recurring-notice {
  padding: 0 var(--bce-container-padding-v);
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 24px;
}

.bc-events__recurring-notice-inner {
  border: 1px solid var(--bce-warn-text-on-light);
  background: var(--bce-warn-light);
  border-radius: 4px;
  font-size: 13px;
  padding: 16px;
}

.bc-event-recurring__section {

  .bc-events__section-toggle {
    border-top: 1px solid var(--bce-section-border-color);    
  }

  .bc-event__content-section {
    border-top: 0;
  }
}