.bc-event__child-overview {
  padding: var(--bce-container-padding-v) 0;
  border-top: 1px solid var(--bce-section-border-color);
  border-bottom: 1px solid var(--bce-section-border-color);
}

.bc-event__child-content-title {
  font-size: 14px;
  margin: 0;
}

.bc-event__child-content {

  a {
    pointer-events: auto;
    color: var(--bce-brand-color);
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.bc-event__child-overview {

  .bc-event-dates__description {
    font-weight: 600;

    span {
      font-weight: 400;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.bc-event__child-content-notes {
  margin-top: 24px;
  padding: 20px;
  border: 1px solid var(--bce-warn-text-on-light);
  border-radius: 4px;
  background-color: var(--bce-warn-light);

  ul {
    list-style: list;
    padding-left: 20px;
    margin-top: 20px;
  }

  li {
    line-height: 1.3;
    margin-top: 12px;
  }

  .bc-event-dates__description {
    margin-bottom: 0;
  }
}