.bc-events__button {
  font-size: 14px;
  font-weight: 600;
  padding: 16px;
  border-radius: 4px;
}

.bc-events__button--small {
  font-size: 12px;
  font-weight: 600;
  padding: 8px;
}

.bc-events__button--secondary {
  border: 1px solid var(--bce-brand-color);
  color: var(--bce-brand-color);
  background: #fff;

  &:hover,
  &:focus {
    color: #fff;
    background: var(--bce-brand-color);
  }
}


.bc-events__button--warning {
  border: 1px solid var(--bce-error-color);
  color: var(--bce-error-color);
  background: #fff;

  &:hover {
    color: #fff;
    background: var(--bce-error-color);
  }
}
