.bc-event__remove-recurring {
  border: 1px solid var(--bce-error-color);
  border-radius: 4px;

  .bc-events-title-h1 {
    margin-bottom: 24px;
  }
}

.bc-event__remove-recurring-list {
  color: var(--bce-error-color);
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
  list-style: disc;
  padding-left: 20px;
}

.bc-event__remove-recurring-content {
  border-top: 0;
}

.bc-event__remove-recurring-action {
  border-top: 1px solid var(--bce-error-color);
  background: var(--bce-error-color-light);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.bc-event__remove-recurring-action-helper {
  margin-top: 24px;
  font-weight: 600;
}