.bc-event-dates__text-group {
  input,
  textarea {
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    width: min(100%, 400px);
    line-height: 1.5;
  }

  .bc-event-dates__location &,
  .bc-event-dates__series & {
    align-items: flex-start;

    label {
      width: 145px;
      padding-top: 8px;
    }
  }
}
